:root{
  --mainColor: rgb(38 39 54);
  --mainBackgroundColor:linear-gradient(279deg, rgb(21, 22, 31), rgb(72, 48, 73)) no-repeat no-repeat;
  --mainTextColor: rgb(224 224 224);
  --borderColor: rgb(47 47 66);
}
.wp-night-mode-on .fusion-mobile-menu-design-modern.fusion-header-v1 .fusion-header {
  background: var(--mainColor)!important;
}

#main{
  background: var(--mainBackgroundColor) !important;
}
.wp-night-mode-on #af-wrapper #forum-navigation a {
  color: var(--mainTextColor) !important;
  border-color: rgb(63 63 86) !important;
}
.wp-night-mode-on #af-wrapper .content-container{
  background-color: rgb(42 41 53 / 70%);
  border-color: rgb(56 58 83) !important;
}
.wp-night-mode-on #af-wrapper .title-element{
  border-color: rgb(62 62 104) !important;
  background-color: #2f2c3dba !important;
}
.wp-night-mode-on #af-wrapper #forum-header{
  background-color: #2f2c3dba !important;
}

.wp-night-mode-on #af-wrapper .main-title{
  color: #6ba8eb !important;
}

.wp-night-mode-on #af-wrapper .content-element:nth-child(even){
  background-color: #35324847;
}

.wp-night-mode-on #af-wrapper .topic-sticky .topic-poster{
  background: rgb(38 35 50 / 80%) !important;
}

.wp-night-mode-on #af-wrapper .topic-sticky{
  background: rgb(37 34 50 / 80%) !important;
}

footer.fusion-footer-widget-area.fusion-widget-area{
  background: #302f3f;
}

.wp-night-mode-on #af-wrapper .post-element{
  background: #272837 !important;
}

.wp-night-mode-on #af-wrapper .post-wrapper{
  background: #272837 !important;
}

.wp-night-mode-on #af-wrapper .forum-subforums{
  border-top: 1px solid rgb(63 63 86 / 73%) !important;
}
.menu-text.fusion-button.button-default.button-medium{
  background: #3a3c53f0;
}

.wp-night-mode-on #af-wrapper div{
  border-color: rgb(63 63 86) !important;
}
.wp-night-mode-on #af-wrapper .forum-poster{
  border-color: rgb(63 63 86) !important;
}

.wp-night-mode-on div#forum-51{
  margin: 0;
  box-shadow: none;
  background: none;
}

.wp-night-mode-on #af-wrapper #forum-search{
  background-color: #3637464f;
}
.tooltips span {
  color: #70abe6 !important;
} 

#af-wrapper #profile-navigation,#af-wrapper #profile-navigation a.active{
  background-color: #464561 !important;
}

#af-wrapper #profile-navigation a.active{
  background-color: #292a39;
}
.wp-night-mode-on #af-wrapper .forum-post-header{
  background: none !important;
}

.wp-night-mode-on #af-wrapper .spoiler .spoiler-head{
  background-color: #343446;
}

.wp-night-mode-on #af-wrapper .post-wrapper,.wp-night-mode-on #af-wrapper .forum-post-header,.wp-night-mode-on #af-wrapper .topic-sticky .topic-poster{
  border-color: rgb(63 63 86) !important;
}
.ConfirmedPro{
  filter: hue-rotate(163deg);
}

#af-wrapper .pages{
  border: none;
}
.wp-night-mode-on #af-wrapper .pages strong,.wp-night-mode-on #af-wrapper .pages a{
  background-color: #41415c;
}

.wp-night-mode-on #af-wrapper .pages strong:hover, .wp-night-mode-on #af-wrapper .pages a:hover{
  background-color: #4f4f6e;
}
.wp-night-mode-on #af-wrapper .post-element{
  border-color: rgb(63 63 86) !important;
}
