:root {
    --blur-voicecall: 30px;
}

/* Blur only the voice call background */
.callContainer_cb9592 {
    backdrop-filter: blur(var(--blur-voicecall));
    background: transparent !important;
    box-shadow: none !important;
    border: none !important;
}
